.div{
    width: 100px;
    height: auto;
    background-color:rgb(255, 0, 0);
    border: 1px dashed black;
    padding: 10px;
}

.img{
    width: 100px;
}   

span{
    color: gold;
}

.btn{
    background-color: rgb(98, 0, 255);
    height: 80px;
    width: 80px;
    cursor: pointer;
    color: rgb(255, 208, 0);
    padding: 9px;
    font-size: 20px;                                                                                                                        
}
.div2{
    width: 100px;
    height: 80;
    background-color:rgb(84, 63, 163);
    border: 1px dashed black;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
